.button {
	background: var(--cobalt-color);
	color: var(--surface-color);
	border-radius: 12px;
	padding: 14px 16px;
	transition: background 0.3s ease;
}

.button:hover {
	background: color-mix(in srgb, var(--cobalt-color) 80%, transparent);
}

.button--secondary {
	background: var(--surface-color);
	color: var(--cobalt-color);
	border: 1px solid var(--cobalt-color);
}

.button--secondary:hover {
	background: color-mix(in srgb, var(--cobalt-color) 10%, transparent);
}

.button--large {
	padding: 16px 20px;
}

@media (min-width: 328px) and (max-width: 1139px) {
	.button--large {
		padding: 14px 16px;
	}
}
