.promotions__carousel {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 12px;
}

.promotions__button {
	height: 100%;
}

.promotions__button:hover .promotions__icon {
	scale: 1.3;
}

.promotions__icon {
	transition: scale 0.3s ease-in-out;
}

.promotions__list {
	height: 100%;
	flex: 1 1 auto;
	border: 1px solid var(--cobalt-color);
	overflow: hidden;
}

.promotions__button--next {
	transform: rotate(180deg);
}
