.pattern-grid {
	position: relative;
}

.pattern-grid::after {
	content: '';
	position: absolute;
	inset: 0;
	pointer-events: none;
	border-radius: inherit;
	background-size: 8px 8px;
	background-image: linear-gradient(
			to right,
			rgba(199, 199, 199, 0.2) 1px,
			transparent 1px
		),
		linear-gradient(to bottom, rgba(199, 199, 199, 0.2) 1px, transparent 1px);
}
