@import '../reset.css';
@import '../variables.css';
@import '../globals.css';

@import '../components/header.css';
@import '../components/footer.css';
@import '../components/button.css';
@import '../components/accordion.css';

.contacts__container {
	display: flex;
	flex-wrap: wrap;
}

.map {
	width: 60%;
	height: 100%;
	border: none;
	margin-bottom: 40px;
}

.info {
	padding-left: 24px;
	width: 40%;
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.info__container {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.label__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.label__list-item {
	flex: none;
	padding: 10px 8px;
}

.info__links {
	display: flex;
	gap: 16px;
}

@media (min-width: 328px) and (max-width: 703px) {
	.map {
		height: 230px;
	}

	.info__labels-item {
		width: calc(100% / 2);
	}
}

@media (min-width: 704px) and (max-width: 1139px) {
	.map {
		height: 547px;
	}
}

@media (min-width: 328px) and (max-width: 1139px) {
	.map {
		width: 100%;
	}

	.info {
		margin-left: 0;
		width: 100%;
	}
}
