@import '../reset.css';
@import '../variables.css';
@import '../globals.css';

@import '../components/header.css';
@import '../components/footer.css';
@import '../components/button.css';
@import '../components/pattern.css';
@import '../components/card.css';
@import '../components/accordion.css';

.hero {
	display: flex;
}

.hero__container {
	width: 40%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	align-self: center;
	gap: 24px;
}

.hero__image {
	width: 60%;
	height: auto;
}

.why__list {
	display: grid;
	grid-template-columns: repeat(3, minmax(0, 1fr));
	gap: 24px;
}

.item {
	width: 100%;
	height: 244px;
	outline: 1px solid var(--cobalt-color);
}

.item__image-container {
	display: flex;
	justify-content: center;
	height: 64px;
	overflow: hidden;
	outline: 1px solid var(--cobalt-color);
}

.item__image {
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
	z-index: 1;
}

.item__image-reason-1 {
	-o-object-position: center calc(50% + 180px);
	object-position: center calc(50% + 180px);
}

.item__image-reason-2 {
	-o-object-position: center calc(50% - 10px);
	object-position: center calc(50% - 10px);
}

.item__image-reason-3 {
	-o-object-position: center calc(50% - 125px);
	object-position: center calc(50% - 125px);
}

.item__title,
.item__text {
	padding: 0 16px;
}

.item__title {
	margin: 16px 0 12px;
}

.about {
	display: flex;
	flex-wrap: wrap;
	gap: 24px;
}

.about__container {
	display: flex;
	flex-direction: column;
	gap: 24px;
	width: 655px;
}

.about__list {
	display: flex;
}

.about__list-item {
	padding: 12px 0;
	width: calc(100% / 4);
}

.about__image-container {
	width: 460px;
	display: flex;
	border: 1.5px solid var(--cobalt-color);
	overflow: hidden;
}

.about__image {
	-o-object-fit: contain;
	object-fit: contain;
	transform: translateX(20px);
}

@media (min-width: 328px) and (max-width: 703px) {
	.why__list {
		grid-template-columns: 1fr;
		gap: 16px;
	}

	.hero {
		flex-direction: column;
		gap: 32px;
	}

	.hero__container {
		width: 100%;
		gap: 16px;
	}

	.hero__image {
		width: 100%;
	}

	.hits__item {
		width: 100%;
	}

	.about__container {
		width: 100%;
	}

	.about__list {
		width: 50%;
	}

	.about__image-container {
		width: 100%;
	}
}

@media (min-width: 703px) and (max-width: 1139px) {
	.why__list {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}

	.hero__container {
		width: 55%;
	}

	.hero__image {
		width: 45%;
	}

	.hits__item {
		width: calc(100% / 2 - 24px);
	}

	.about__container {
		width: 434px;
	}

	.about__image-container {
		width: 254px;
	}
}

@media (min-width: 328px) and (max-width: 1139px) {
	.about {
		gap: 16px;
	}

	.about__container {
		gap: 20px;
	}

	.section:not(.hero, .about) {
		gap: 20px;
	}

	.item__list {
		gap: 16px;
	}

	.about__image {
		transform: translateX(10px);
	}
}
